<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>vseva</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet1</display-name>
    <servlet-name>RegisterServlet1</servlet-name>
    <servlet-class>controller.RegisterServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet1</servlet-name>
    <url-pattern>/RegisterServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionSubmit</display-name>
    <servlet-name>ActionSubmit</servlet-name>
    <servlet-class>controller.ActionSubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionSubmit</servlet-name>
    <url-pattern>/ActionSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateComplaint</display-name>
    <servlet-name>CreateComplaint</servlet-name>
    <servlet-class>controller.CreateComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateComplaint</servlet-name>
    <url-pattern>/CreateComplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteComplaint</display-name>
    <servlet-name>DeleteComplaint</servlet-name>
    <servlet-class>controller.DeleteComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComplaint</servlet-name>
    <url-pattern>/DeleteComplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>controller.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFeedback</display-name>
    <servlet-name>DeleteFeedback</servlet-name>
    <servlet-class>controller.DeleteFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFeedback</servlet-name>
    <url-pattern>/DeleteFeedback</url-pattern>
  </servlet-mapping>
</web-app>